<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">	
  <test  name="TestA">
    <classes>
      <class name="testcases.ClassA"/>
      </classes>
      </test>
      <test  name="TestB">
    <classes>
      <class name="testcases.ClassB"/>				
      </classes>
      </test>
      <test  name="TestC">
    <classes>
      <class name="testcases.ClassC"/>
      </classes>
      </test>
</suite> <!-- Suite -->	
